.color-primary {
  color: #000000;
}

.bg-primary {
  background-color: #000000;
}

.color-secondary {
  color: #ffffff;
}

.bg-secondary {
  background-color: #ffffff;
}

.color-background {
  color: #ffffff;
}

.bg-background {
  background-color: #ffffff;
}

.color-text {
  color: #000000;
}

.bg-text {
  background-color: #000000;
}

.color-black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.color-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.color-gray {
  color: #686868;
}

.bg-gray {
  background-color: #686868;
}

.color-gray20 {
  color: #d0d0d0;
}

.bg-gray20 {
  background-color: #d0d0d0;
}

.color-gray30 {
  color: #686868;
}

.bg-gray30 {
  background-color: #686868;
}

.color-lightgray {
  color: #dfdfdf;
}

.bg-lightgray {
  background-color: #dfdfdf;
}

.color-neutral {
  color: #f8f8f8;
}

.bg-neutral {
  background-color: #f8f8f8;
}

.color-neutral02 {
  color: #efefef;
}

.bg-neutral02 {
  background-color: #efefef;
}

.color-red {
  color: #fa604c;
}

.bg-red {
  background-color: #fa604c;
}

.color-orange {
  color: #fa974c;
}

.bg-orange {
  background-color: #fa974c;
}

.color-yellow {
  color: #fffc75;
}

.bg-yellow {
  background-color: #fffc75;
}

.color-purple {
  color: #5e3ea1;
}

.bg-purple {
  background-color: #5e3ea1;
}

.color-purple2 {
  color: #8a1c77;
}

.bg-purple2 {
  background-color: #8a1c77;
}

.color-green {
  color: #5c8875;
}

.bg-green {
  background-color: #5c8875;
}
