@use "bootstrap/dist/css/bootstrap-grid.css";


// -------------------- //

// HERO

//-------------------- //


#main{
  background-color: #f9f9f9;
  background-color: #FDFDFD;
}

.hero {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  @include mx.mobile {
    flex-direction: column;
    min-height: auto;
    padding-top: fn.toVw(160);
  }

  .container {
    @include mx.desktop {
      margin-top: 0;
    }
  }

  .bg {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 180vh;

    .bgA {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    }

  }

  .wrapper {
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;

    @include mx.mobile {
      flex-direction: column;
      gap: fn.toVw(14);
      // align-items: flex-start;
    }

    .title-wrapper {
      flex-shrink: 0;
      width: 100%;
      max-width: fn.toVw(900);

      .title__text {
        width: 100%;
      }

      .title {
        font-size: 70px;
        font-weight: 300;
        line-height: 1.008;
        text-align: center;

        @include mx.mobile {
          font-size: fn.toVw(60);
        }

        b {
          font-weight: 500;
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 0;
      justify-content: flex-end;
      align-items: center;

      @include mx.mobile {
        gap: fn.toVw(40);
      }

    .small {
      font-size: 13px;
    }

      .description__text {
        width: 100%;
        max-width: fn.toVw(530);
        text-align: center;
      }

      .buttons {
        display: flex;
        gap: fn.toVw(25);
        margin: 40px 0 30px;

        .cta {
          @include mx.desktop {
            // width: fn.toVw(175);
          }
        }

        .cta{
          padding: 0;
          height: 60px;
          width: 200px;
          justify-content: flex-start;
          padding-left: 30px;   
        }



        .btn.cta .arrow{
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: #978FED;
          right: 20px;
          border-radius: 5px;
          text-align: center;
        }

        .btn.cta .arrow img{
          width: 60%;
          height: 60%;
        }

        .btn .text-wrapper{
          height: 30px;
          line-height: 30px;
          width: 100%;
          text-align: left;
        }

        &:deep(.btn) {
          @include mx.desktop {
            padding: fn.toVw(16) 0;
          }
        }
      }
    }
  }

  .small p {
    text-align: center;
  }

}



