

/* GENERALES */
.blog-bootstrap-wrapper .center{
	margin-left: auto;
	margin-right: auto;
}

.blog-bootstrap-wrapper .w-xs {
    max-width: 360px;
}

.blog-bootstrap-wrapper .w-s{
	max-width: 560px;
}

.blog-bootstrap-wrapper .w-m {
    max-width: 900px;
}

.blog-bootstrap-wrapper .w-l{
	max-width: 1140px;
}





/* Hero */
.blog-bootstrap-wrapper #hero {
  height: 540px;
  display: flex;
  align-items: center;
  padding-top: 80px;
}

/* Tipografía */
.blog-bootstrap-wrapper h1, 
.blog-bootstrap-wrapper h2, 
.blog-bootstrap-wrapper h3, 
.blog-bootstrap-wrapper h4, 
.blog-bootstrap-wrapper h5, 
.blog-bootstrap-wrapper h6 {
  font-weight: 300;
}
.blog-bootstrap-wrapper h1 { font-size: 70px; line-height: 106%; }
.blog-bootstrap-wrapper h2 { font-size: 60px; line-height: 100%; }
.blog-bootstrap-wrapper h3 { font-size: 52px; line-height: 100%; }
.blog-bootstrap-wrapper h4 { font-size: 48px; line-height: 122%; }
.blog-bootstrap-wrapper h5 { font-size: 35px; line-height: 122%; }
.blog-bootstrap-wrapper h6 { font-size: 28px; line-height: 122%; }

.blog-bootstrap-wrapper p, .blog-bootstrap-wrapper div, .blog-bootstrap-wrapper li, .blog-bootstrap-wrapper a {
  font-size: 17px;
  font-weight: 400;
  line-height: 164%;
}

.blog-bootstrap-wrapper a, .blog-bootstrap-wrapper a.btn, .blog-bootstrap-wrapper input[type='submit'] {
    text-decoration: none;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

/* Grid */
.blog-bootstrap-wrapper .blog .row {
  row-gap: 50px;
}

.grid-box .img {
  background-color: #efefef;
  width: 100%;
  aspect-ratio: 5 / 4;
  border-radius: 9px;
  margin-bottom: 20px;
}

.grid-box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.grid-box .img img[src=''] {
  display: none;
}

/* Botones con borde degradado */
.border-gradient {
  margin-top: 30px;
  border-radius: 20px;
  display: inline-block;
  background: linear-gradient(to right, #bf35a8, #fa974c) border-box;
  padding: 1px;
}

.border-gradient a {
  background-color: #fff;
  display: inline-block;
  font-size: 15px;
  color: #212529;
  text-align: center;
  padding: 4px 20px;
  line-height: 164%;
  border-radius: 20px;
  transition: 0.2s;
}

.border-gradient a:hover {
  background: linear-gradient(to right, #bf35a8, #fa974c) border-box;
  color: #fff;
}

.blog-bootstrap-wrapper .meta {
  font-size: 14px;
  margin-bottom: 15px;
}