@use "bootstrap/dist/css/bootstrap-grid.css";


// -------------------- //

// HERO

//-------------------- //


#main{
  background-color: #f9f9f9;
  background-color: #FDFDFD;
}

.hero {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  @include mx.mobile {
    flex-direction: column;
    min-height: auto;
    padding-top: fn.toVw(160);
  }

  .container {
    @include mx.desktop {
      margin-top: 0;
    }
  }

  .bg {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 180vh;

    .bgA {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    }

  }

  .wrapper {
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;

    @include mx.mobile {
      flex-direction: column;
      gap: fn.toVw(14);
      // align-items: flex-start;
    }

    .title-wrapper {
      flex-shrink: 0;
      width: 100%;
      max-width: fn.toVw(900);

      .title__text {
        width: 100%;
      }

      .title {
        font-size: 70px;
        font-weight: 300;
        line-height: 1.008;
        text-align: center;

        @include mx.mobile {
          font-size: fn.toVw(60);
        }

        b {
          font-weight: 500;
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 0;
      justify-content: flex-end;
      align-items: center;

      @include mx.mobile {
        gap: fn.toVw(40);
      }

    .small {
      font-size: 13px;
    }

      .description__text {
        width: 100%;
        max-width: fn.toVw(530);
        text-align: center;
      }

      .buttons {
        display: flex;
        gap: fn.toVw(25);
        margin: 40px 0 30px;

        .cta {
          @include mx.desktop {
            // width: fn.toVw(175);
          }
        }

        .cta{
          padding: 0;
          height: 60px;
          width: 200px;
          justify-content: flex-start;
          padding-left: 30px;   
        }



        .btn.cta .arrow{
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: #978FED;
          right: 20px;
          border-radius: 5px;
          text-align: center;
        }

        .btn.cta .arrow img{
          width: 60%;
          height: 60%;
        }

        .btn .text-wrapper{
          height: 30px;
          line-height: 30px;
          width: 100%;
          text-align: left;
        }

        &:deep(.btn) {
          @include mx.desktop {
            padding: fn.toVw(16) 0;
          }
        }
      }
    }
  }

  .small p {
    text-align: center;
  }

}



// -------------------- //

// WHY

// -------------------- //

.why {
  position: relative;
  min-height: 100vh;
  padding: 60px 0 0 ;

  @include mx.mobile {
    padding: 0 fn.toVw($layout-container-mobile);
  }


  >.text {
    display: none;
    flex-direction: column;
    gap: fn.toVw(30);

    margin-bottom: fn.toVw(93);

    text-align: center;

    @include mx.mobile {
      gap: fn.toVw(27);
      margin-bottom: fn.toVw(74);
    }

    .title {
      font-weight: 300;
      line-height: normal;

      b {
        font-weight: 500;
      }
    }

    .desc {
      width: 100%;
      max-width: fn.toVw(242);
      margin: 0 auto;
    }
  }

  .list {
    position: relative;

    overflow: hidden;

    width: 100%;
    max-width: fn.toVw(1135);
    height: 100%;
    margin: 0 auto;

    @include mx.mobile {
      max-width: 100%;
    }

    .content-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      perspective: 250vw;
    }

    .content {
      position: absolute;
      inset: 0;
      transform-origin: 50% 10%;
      transform-style: preserve-3d;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:not(:nth-child(1)) {
        transform: translate(0, 100vh);
      }

      &:nth-child(1) {
        position: relative;
      }

      &:nth-child(2) {
        // background-color: #8966a9;
      }

      &:nth-child(3) {
        // background-color: #85998e;
      }

      &:deep(.line) {
        transform: translateY(105%);
      }
    }
  }





  .media-img {
    object-fit: contain;
    margin: 0;
    width: auto;
  }

  .media-img img.logo  {
    height: 50px;
  }

  .media-img img.iso  {
    height: 50px;
  }
  .media-img.iso img {
    object-fit: contain;
    height: 50px;
  }

  .content.card{
    .top{
    position: relative;
    z-index: 1;
    }
    .bottom{
    position: relative;
    z-index: 1;
    }
  }

  
}







// -------------------- //

// EVENTS

// -------------------- //

.events{

  .financial-grid {
    display: flex;
    gap: 100px;
    padding-left: 10%;
    margin-top: 100px;
  }


  .new-latest-financials__item {
    border-bottom: 1px solid #CECECE;
    padding: 20px 0;

    &.first{
      padding: 0px 0 60px;

      h4.title {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #F18339;
        margin-bottom: 30px;
      }
      h2.title {
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 30px;  
      }
      p.text {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
      }
    }

    &:not(.first) {
      display: flex;
      align-items: center;
    }
    >h4.title {
      min-width: 200px;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.36px;
      text-transform: uppercase;
    }
    .date {
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 110%;
    }
  }


  .buttons {
    margin-top: 50px;
    
    .violet {
      border-radius: 10px;
      background: #5E3EA1;
      color: #fff;
      margin-top: 50px;
    }
  }



  .press {
    border-radius: 15px;
    background: #FAFAFA;
    padding: 40px;

    .top {
      display: flex;
      align-items: center;
      gap: 70px;
      margin-bottom: 50px;

      p.small {
        font-size: 11px;
      }
    }

    h4.title {
      font-size: 30px;
      font-weight: 300;
      line-height: 110%;
    }

    .tags {
      display: flex;
      gap: 20px;
      margin: 30px 0;

      .btn.fill {
        border-radius: 86.542px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        padding: 10px 30px;
        .yell {
          background-color: rgba(255, 252, 117, 0.36);
       }
       .brown {
          background-color: #ECC2A6;
        }
      }
    }

    p.text {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      text-align: left;
    }

    .meta {
      margin-top: 50px;
      display: flex;
      gap: 30px;
      font-size: 15px;
      font-weight: 300;

      .media-img.icon {
        width: 15px;
        display: inline-block;
        margin-right: 5px;

        img {
          width: 100%;
          object-fit: contain;
        }
      }


      
    }
    
  }

  


}