@use "bootstrap/dist/css/bootstrap-grid.css";


// -------------------- //

// HERO

//-------------------- //


#main{
  background-color: #f9f9f9;
}

.hero {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  @include mx.mobile {
    flex-direction: column;
    min-height: auto;
    padding-top: fn.toVw(160);
  }

  .container {
    @include mx.desktop {
      margin-top: 0;
    }
  }

  .bg {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 180vh;

    .bgA {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    }

    // .bg2 {
    // width: 64%;
    // height: auto;
    // position: absolute;
    // right: 0;
    // }
  }

  .wrapper {
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;

    @include mx.mobile {
      flex-direction: column;
      gap: fn.toVw(14);
      // align-items: flex-start;
    }

    .title-wrapper {
      flex-shrink: 0;
      width: 100%;
      max-width: fn.toVw(900);

      .title__text {
        width: 100%;
      }

      .title {
        font-size: 70px;
        font-weight: 300;
        line-height: 1.008;
        text-align: center;

        @include mx.mobile {
          font-size: fn.toVw(60);
        }

        b {
          font-weight: 500;
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 0;
      justify-content: flex-end;
      align-items: center;

      @include mx.mobile {
        gap: fn.toVw(40);
      }

    .small {
      font-size: 13px;
    }

      .description__text {
        width: 100%;
        max-width: fn.toVw(530);
        text-align: center;
      }

      .buttons {
        display: flex;
        gap: fn.toVw(25);
        margin: 40px 0 30px;

        .cta {
          @include mx.desktop {
            // width: fn.toVw(175);
          }
        }

        .cta{
          padding: 0;
          height: 60px;
          width: 200px;
          justify-content: flex-start;
          padding-left: 30px;   
        }



        .btn.cta .arrow{
          position: absolute;
          width: 30px;
          height: 30px;
          background-color: #978FED;
          right: 20px;
          border-radius: 5px;
          text-align: center;
        }

        .btn.cta .arrow img{
          width: 60%;
          height: 60%;
        }

        .btn .text-wrapper{
          height: 30px;
          line-height: 30px;
          width: 100%;
          text-align: left;
        }

        &:deep(.btn) {
          @include mx.desktop {
            padding: fn.toVw(16) 0;
          }
        }
      }
    }
  }

  .small {
    .small text {
      text-align: center;
    }

  }

}










// -------------------- //

// OVERVIEW

// -------------------- //

.overview {
  position: relative;
  padding: fn.toVw(122) 0;
  text-align: center;

  @include mx.mobile {
    padding: fn.toVw(118) 0;
  }


  .bg {
    pointer-events: none;

    position: absolute;
    z-index: -1;
    bottom: fn.toVw(-500);
    left: 0;

    width: fn.toVw(816);

    @include mx.mobile {
      display: none;
    }

 

  }


 

  .title {
    // margin-bottom: fn.toVw(-150);

    // @include mx.mobile {
    //   margin-bottom: fn.toVw(-100);
    // }
  }

  .ticker {
    display: flex;
    flex-direction: column;
    gap: fn.toVw(64);
    justify-content: center;

    margin-top: fn.toVw(-200);

    @include mx.mobile {
      gap: 0;
      margin-top: fn.toVw(-100);
    }

    .ticker__symbol {
      width: 100%;
      max-width: 600px;
      height: 230px;
      margin: 0 auto;

      @include mx.mobile {
        display: none;
      }
    }

    .ticker__tape {
      height: 46px;
      // margin-top: calc(fn.toVw(98) - fn.toVw(64));
      margin-top: 60px;

      @include mx.mobile {
        // margin-top: fn.toVw(46);
         margin-top: 40px;
      }
    }
  }
}






// -------------------- //

// WHY

// -------------------- //

.why {
  position: relative;
  min-height: 100vh;
  padding: 60px 0 0 ;

  @include mx.mobile {
    padding: 0 fn.toVw($layout-container-mobile);
  }


  .text {
    display: none;
    flex-direction: column;
    gap: fn.toVw(30);

    margin-bottom: fn.toVw(93);

    text-align: center;

    @include mx.mobile {
      gap: fn.toVw(27);
      margin-bottom: fn.toVw(74);
    }

    .title {
      font-weight: 300;
      line-height: normal;

      b {
        font-weight: 500;
      }
    }

    .desc {
      width: 100%;
      max-width: fn.toVw(242);
      margin: 0 auto;
    }
  }

  .list {
    position: relative;

    overflow: hidden;

    width: 100%;
    max-width: fn.toVw(1135);
    height: 100%;
    margin: 0 auto;

    @include mx.mobile {
      max-width: 100%;
    }

    .content-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      perspective: 250vw;
    }

    .content {
      position: absolute;
      inset: 0;
      transform-origin: 50% 10%;
      transform-style: preserve-3d;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:not(:nth-child(1)) {
        transform: translate(0, 100vh);
      }

      &:nth-child(1) {
        position: relative;
      }

      &:nth-child(2) {
        // background-color: #8966a9;
      }

      &:nth-child(3) {
        // background-color: #85998e;
      }

      &:deep(.line) {
        transform: translateY(105%);
      }
    }
  }





  .media-img {
    object-fit: contain;
    margin: 0;
    width: auto;
  }

  .media-img img.logo  {
    height: 50px;
  }

  .media-img img.iso  {
    height: 50px;
  }
  .media-img.iso img {
    object-fit: contain;
    height: 50px;
  }

.content.card{
  .top,.bottom{
  position: relative;
  z-index: 1;
  }
}

  
}




