$system-cms: null;
$base-vw: 1920;
$base-vwm: 402;
$base-svh: 812;
$base-query: 767;
$base-multiplier: 100vw;
$component-preloader: true;
$component-preloaderfont: true;
$component-smoothscroll: true;
$component-cookies: true;
$color-primary: #000000;
$color-secondary: #ffffff;
$color-background: #ffffff;
$color-text: #000000;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #686868;
$color-gray20: #d0d0d0;
$color-gray30: #686868;
$color-lightgray: #dfdfdf;
$color-neutral: #f8f8f8;
$color-neutral02: #efefef;
$color-red: #fa604c;
$color-orange: #fa974c;
$color-yellow: #fffc75;
$color-purple: #5e3ea1;
$color-purple2: #8a1c77;
$color-green: #5c8875;
$transition-name: customdefault;
$transition-unit: s;
$transition-duration: 0.8;
$transition-durations: #{$transition-duration}#{$transition-unit};
$transition-ease: cubic-bezier(0.17, 0.84, 0.44, 1);
$transition-default: #{$transition-duration}#{$transition-unit} $transition-ease;
$transition-delay: 0.15;
$transition-scrolloffset: 15;
$transition-easegsap-power1-out: cubic-bezier(0.25, 1, 0.5, 1);
$transition-easegsap-power1-in: cubic-bezier(0.5, 0, 0.75, 0);
$transition-easegsap-power1-inout: cubic-bezier(0.42, 0, 0.58, 1);
$transition-easegsap-power2-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$transition-easegsap-power2-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$transition-easegsap-power2-inout: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$transition-easegsap-power3-out: cubic-bezier(0.22, 1, 0.36, 1);
$transition-easegsap-power3-in: cubic-bezier(0.645, 0.045, 0.355, 1);
$transition-easegsap-power3-inout: cubic-bezier(0.645, 0.045, 0.355, 1);
$transition-easegsap-power4-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$transition-easegsap-power4-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$transition-easegsap-power4-inout: cubic-bezier(0.77, 0, 0.175, 1);
$transition-easegsap-expo-out: cubic-bezier(0.19, 1, 0.22, 1);
$transition-easegsap-expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$transition-easegsap-expo-inout: cubic-bezier(1, 0, 0, 1);
$transition-easegsap-sine-out: cubic-bezier(0.39, 0.575, 0.565, 1);
$transition-easegsap-sine-in: cubic-bezier(0.47, 0, 0.745, 0.715);
$transition-easegsap-sine-inout: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$transition-easegsap-back-out: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$transition-easegsap-back-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$transition-easegsap-back-inout: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$transition-easegsap-circ-out: cubic-bezier(0.075, 0.82, 0.165, 1);
$transition-easegsap-circ-in: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$transition-easegsap-circ-inout: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$layout-grid-columns: 12;
$layout-grid-gutter: 10;
$layout-container-desktop: 152;
$layout-container-mobile: 15;
$font-family-main: 'Sequel Sans', sans-serif;
$font-family-title: 'Sequel Sans', sans, serif;
$font-heading1-family: $font-family-title;
$font-heading1-size: 60;
$font-heading1-sizem: 32;
$font-heading1-weight: 400;
$font-heading1-line: normal;
$font-heading1-letter: null;
$font-heading1-transform: null;
$font-heading1medium120-family: $font-family-title;
$font-heading1medium120-size: 120;
$font-heading1medium120-sizem: 60;
$font-heading1medium120-weight: 500;
$font-heading1medium120-line: 120;
$font-heading1medium120-letter: null;
$font-heading1medium120-transform: null;
$font-heading1medium70-family: $font-family-title;
$font-heading1medium70-size: 70;
$font-heading1medium70-sizem: 44;
$font-heading1medium70-weight: 500;
$font-heading1medium70-line: normal;
$font-heading1medium70-letter: null;
$font-heading1medium70-transform: null;
$font-heading1medium60-family: $font-family-title;
$font-heading1medium60-size: 60;
$font-heading1medium60-sizem: 44;
$font-heading1medium60-weight: 500;
$font-heading1medium60-line: 59.4;
$font-heading1medium60-letter: null;
$font-heading1medium60-transform: null;
$font-heading1light120-family: $font-family-title;
$font-heading1light120-size: 120;
$font-heading1light120-sizem: 60;
$font-heading1light120-weight: 300;
$font-heading1light120-line: 120;
$font-heading1light120-letter: null;
$font-heading1light120-transform: null;
$font-heading2-family: $font-family-title;
$font-heading2-size: 35;
$font-heading2-sizem: 22;
$font-heading2-weight: 400;
$font-heading2-line: normal;
$font-heading2-letter: null;
$font-heading2-transform: null;
$font-heading2light70-family: $font-family-title;
$font-heading2light70-size: 70;
$font-heading2light70-sizem: 44;
$font-heading2light70-weight: 300;
$font-heading2light70-line: 69.3;
$font-heading2light70-letter: null;
$font-heading2light70-transform: null;
$font-body1-family: $font-family-main;
$font-body1-size: 18;
$font-body1-sizem: null;
$font-body1-weight: 400;
$font-body1-line: normal;
$font-body1-letter: 0.36;
$font-body1-transform: null;
$font-body35-family: $font-family-main;
$font-body35-size: 35;
$font-body35-sizem: 22;
$font-body35-weight: 400;
$font-body35-line: normal;
$font-body35-letter: null;
$font-body35-transform: null;
$font-body28-family: $font-family-main;
$font-body28-size: 28;
$font-body28-sizem: 22;
$font-body28-weight: 300;
$font-body28-line: normal;
$font-body28-letter: null;
$font-body28-transform: null;
$font-body26-family: $font-family-main;
$font-body26-size: 26;
$font-body26-sizem: 14;
$font-body26-weight: 700;
$font-body26-line: normal;
$font-body26-letter: null;
$font-body26-transform: null;
$font-body22-family: $font-family-main;
$font-body22-size: 22;
$font-body22-sizem: 18;
$font-body22-weight: 400;
$font-body22-line: normal;
$font-body22-letter: 0.44;
$font-body22-transform: null;
$font-body18-family: $font-family-main;
$font-body18-size: 18;
$font-body18-sizem: 12;
$font-body18-weight: 400;
$font-body18-line: normal;
$font-body18-letter: 0.36;
$font-body18-transform: null;
$font-body16-family: $font-family-main;
$font-body16-size: 16;
$font-body16-sizem: 14;
$font-body16-weight: 400;
$font-body16-line: 20.8;
$font-body16-letter: null;
$font-body16-transform: null;
$font-body14-family: $font-family-main;
$font-body14-size: 14;
$font-body14-sizem: null;
$font-body14-weight: 300;
$font-body14-line: normal;
$font-body14-letter: null;
$font-body14-transform: null;
$font-body13-family: $font-family-main;
$font-body13-size: 13;
$font-body13-sizem: 12;
$font-body13-weight: 300;
$font-body13-line: 16.25;
$font-body13-letter: null;
$font-body13-transform: null;
$font-body12-family: $font-family-main;
$font-body12-size: 12;
$font-body12-sizem: null;
$font-body12-weight: 400;
$font-body12-line: normal;
$font-body12-letter: null;
$font-body12-transform: null;
$font-uc-family: $font-family-main;
$font-uc-size: 40;
$font-uc-sizem: 28;
$font-uc-weight: 500;
$font-uc-line: normal;
$font-uc-letter: null;
$font-uc-transform: null;
